{% extends "groomings/base.html" %}
{% block title %}匿名質問一覧画面{% endblock %} <!-- タイトル -->

{% block content %}

<h5>送った匿名質問</h5><br>
{% if not give_question %}
<h5>送った匿名質問はありません</h5>
{% else %}
<ul class="list-unstyld">
    {% for give in give_question %}
    <li class = "media mb-3 post">
        <div class="media-body">
            <h3>{{ give.title }}</h3>
            <a href = "{% url 'groomings:user' give.recipient.id %}">回答者: {{ give.recipient.username }}</a>
            <div>{{ give.text }}</div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}

<h5>受け取った匿名質問</h5><br>
{% if not receive_question %}
<h5>受け取った匿名質問はありません</h5>
{% else %}
<ul class="list-unstyld">
    {% for receive in receive_question %}
    <li class = "media mb-3 post">
        <div class="media-body">
            <h3>{{ receive.title }}</h3>
            <a href = "{% url 'groomings:user' receive.giver.id %}">質問者: {{ receive.giver.username }}</a>
            <div>{{ receive.text }}</div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}