{% extends "groomings/base.html" %}
{% block title %}投稿画面{% endblock %} <!-- タイトル -->

{% block content %}
    <h2>新規投稿</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <h5>タグ</h5>
        {% for tag in tags %}
        <input type="checkbox" name="tag" value="{{ tag.id }}">{{ tag.name }}
        {% endfor %}
        <br>
        <input type="submit" value="投稿" class="btn btn-outline-primary">
    </form>
    <hr>
    <h3>タグを追加</h3>
    <form method="POST">
        {% csrf_token %}
        {{ tag_form.as_p }}
        <input type="submit" value="追加" class="btn btn-outline-danger">
    </form>
{% endblock %}