{% extends "groomings/_user.html" %} <!-- _user.html(親)の継承 -->
{% load tag_event %}

{% block posts %}
  <!-- postsの中身 -->
  <ul class="nav nav-tabs">
    <li class="nav-item"><a href="{% url 'groomings:user' page_owner.id %}" class="nav-link">自分の投稿<span class="badge badge-info">{{ page_owner | count_my_post }}</span></a></li>
    <li class="nav-item"><a href="{% url 'groomings:followee' page_owner.id %}" class="nav-link active">フォロー<span class="badge badge-info">{{ page_owner | count_follow }}</span></a></li>
    <li class="nav-item"><a href="{% url 'groomings:follower' page_owner.id %}" class="nav-link">フォロワー<span class="badge badge-info">{{ page_owner | count_follower }}</span></a></li>
    <li class="nav-item"><a href="{% url 'groomings:user_favo' page_owner.id %}" class="nav-link">お気に入り<span class="badge badge-info">{{ page_owner | count_my_favo }}</span></a></li>
  </ul>
  {% for followee in followees %}
    <div class="post card">
        {{ followee.username }}
    </div>
  {% endfor %}
{% endblock %}