<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1 style="color: red;">Login</h1>
        <p>
            <label for = "username">User Name: </label>
            <input id = "username" type = "text" pattern = "^[a-zA-Z0-9]+$" required>
        </p>
        <p>
            <label for = "password">Password: </label>
            <input id = "password" type = "password" minlength ="8" pattern = "^[a-zA-Z0-9]+$" required>
        </p>
        <a href="{%url 'groomings:top' %}">
            <input type = "submit" value="Login">
        </a>
    </body>
</html>
