{% extends "groomings/base.html" %} <!-- base.html(親)の継承 -->
{% block title %}Login{% endblock %} <!-- タイトル -->

{% block content %}
    <!-- bodyの中身 -->
    <h1 style="color: red;">Login</h1>
    <p>
        <label for = "username">User Name: </label>
        <input id = "username" type = "text" pattern = "^[a-zA-Z0-9]+$" required>
    </p>
    <p>
        <label for = "password">Password: </label>
        <input id = "password" type = "password" minlength ="8" pattern = "^[a-zA-Z0-9]+$" required>
    </p>
    <a href="{% url 'groomings:top' %}">
        <input type = "submit" value="Login">
    </a>
{% endblock %}
