{% extends 'groomings/base.html' %}
{% load static %}
{% load tag_event %}
{% block title %}投稿詳細ページ{% endblock %} <!-- タイトル -->

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>{{ post.title }}</h3><small>{{ post.created_at }}</small><hr>
        {% if post.image1 %}
        <img src="{{ post.image1.url }}" alt="" width="200px">
        {% endif %}
        {% if post.image2 %}
        <img src="{{ post.image2.url }}" alt="" width="200px">
        {% endif %}
        {% if post.image3 %}
        <img src="{{ post.image3.url }}" alt="" width="200px">
        {% endif %}
        <p>{{ post.text }}</p>
        <br>
        {% if request.user.is_authenticated %}
          {% if request.user in post.favorite.all %}
          <a href="{% url 'groomings:favorite' post.id %}"><i class="fas fa-heart"></i><span class="badge badge-light">{{ post | count_favo }}</span></a>
          {% else %}
          <a href="{% url 'groomings:favorite' post.id %}"><i class="far fa-heart"></i><span class="badge badge-light">{{ post | count_favo }}</span></a>
          {% endif %}
      {% endif %}
    </div>
    <div class="card-body">
        {% if request.user.is_authenticated %}
        <h4 id="comment"><i class="fas fa-comment-medical"></i> コメントする</h4>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="送信" class="btn btn-outline-primary">
        </form>
        {% endif %}

        <h4><i class="far fa-comments"></i> コメント一覧</h4>
        <div class="all-comment">
            {% for comment in comments %}
            <div class="one-comment mb-2">
                <div>
                    {% if comment.user.image %}
                        <img src="{{ comment.user.image.url }}" width="40px">
                    {% else %}
                        <img src="{% static 'static_image/default.png' %}" width="40px">
                    {% endif %}
                    {{ comment.user.username }} {{ comment.created_at }}
                    <br>{{ comment.text }}
                </div>
                {% if request.user in comment.favorite.all %}
                    <a href="{% url 'groomings:favo_comme' comment.id %}"><i class="fas fa-thumbs-up"></i><span class="badge badge-light">{{ comment | count_commefavo }}</span></a>
                {% else %}
                    <a href="{% url 'groomings:favo_comme' comment.id %}"><i class="far fa-thumbs-up"></i><span class="badge badge-light">{{ comment | count_commefavo }}</span></a>
                {% endif %}
                    
                {% if request.user in comment.bad.all %}
                    <a href="{% url 'groomings:bad_comme' comment.id %}"><i class="fas fa-thumbs-down"></i><span class="badge badge-light">{{ comment | count_commebad }}</span></a>
                {% else %}
                    <a href="{% url 'groomings:bad_comme' comment.id %}"><i class="far fa-thumbs-down"></i><span class="badge badge-light">{{ comment | count_commebad }}</span></a>
                {% endif %}
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>    
{% endblock %}