<h3 class="page-header">投稿する</h3>
        <form action="{% url 'applists:list_create' %}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                        {% if form.errors %}
                           <div class="errorlist">
                                {% for errors in form.errors.values %}
                                   {% for error in errors %}
                                   {{ error }}<br>
                                  {% endfor %}
                                {% endfor %}
                           </div>
                        {% endif %}

                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="aleart alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        
                        {% for field in form %}
                           <div class="field">
                               {{ field.label_tag }}
                               {{ field }}
                               {% if field.help_text %}
                                  <span class="helptext">{{ field.help_text }}</span>
                               {% endif %}
                          </div>
                        {% endfor %}
                        {% csrf_token %}
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">送信</button>
                          </div>
                        </div>
        </form>