{% extends "groomings/base.html" %}
{% block title %}匿名質問詳細{% endblock %} <!-- タイトル -->


{% block content %}
    <h1>{{ question.title }}の詳細ページ</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="radio" name="eval" value="1">1
        <input type="radio" name="eval" value="2">2
        <input type="radio" name="eval" value="3" checked>3
        <input type="radio" name="eval" value="4">4
        <input type="radio" name="eval" value="5">5
        <input type="submit" name="button" value="評価する">
    </form> 

    <h2>質問した人: {{ question.giver.username }} | 質問された人: {{ question.recipient.username }}</h2>
    {% if question.image1 %}
    <img src="{{ question.image1.url }}" width="200">
    {% endif %}
    {% if question.image2 %}
    <img src="{{ question.image2.url }}" width="200">
    {% endif %}
    {% if question.image3 %}
    <img src="{{ question.image3.url }}" width="200">
    {% endif %}
    <p>{{ question.text }}</p>

    <h3>返信一覧</h3>
    <ul>
        {% for reply in replys %}
        <li>
            {{reply.giver.username }}<br>
            {% if reply.image %}
            <img src="{{ reply.image.url }}" width="150">
            {% endif %}
            {{ reply.text }}
        </li>
        {% endfor %}
    </ul>

    <h2>返信する</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="投稿">
    </form>
{% endblock %}