{% extends "groomings/base.html" %}
{% block title %}匿名質問詳細{% endblock %} <!-- タイトル -->


{% block content %}
    <h1>{{ question.title }}の詳細ページ</h1>
    <h2>質問した人: {{ question.giver.username }} | 質問された人: {{ question.recipient.username }}</h2>
    <p>{{ question.text }}</p>

    <h3>返信一覧</h3>
    <ul>
        {% for reply in replys %}
        <li>
            {{reply.giver.username }}<br>
            {% if reply.image %}
            <img src="{{ reply.image.url }}" width="150">
            {% endif %}
            {{ reply.text }}
        </li>
        {% endfor %}
    </ul>

    <h2>返信する</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="投稿">
    </form>
{% endblock %}