{% extends "groomings/base.html" %} <!-- base.html(親)の継承 -->
{% block title %}Grooming{% endblock %} <!-- タイトル -->

{% block content %}
  <!-- bodyの中身 -->
  <h1>匿名質問</h1>
    <p>
        <label for = "username">ユーザー名: </label>
        <input id = "username" type = "text" pattern = "^[a-zA-Z0-9]+$" required>
    </p>
    <p>
        <label for = "question">質問: </label>
        <input id = "question" type = "text" pattern = "^[a-zA-Z0-9]+$" required>
    </p>
    <a href="{% url 'groomings:top' %}">
        <input type = "submit" value="send">
    </a>
{% endblock %}