{% extends "groomings/base.html" %} <!-- base.html(親)の継承 -->
{% block title %}Grooming{% endblock %} <!-- タイトル -->

{% block content %}
  <!-- bodyの中身 -->
  <h1>ユーザーランキング</h1>
{% for userrank in users %}
    <div class="userrank card">
      <div class="card-card-header">
        {{ userrank.username }}
      </div>
      <div class="body">
        <p class="small">{{ userrank.created_at }} | カテゴリー：{{ userrank.category }}</p>
        {% if userank.image %}
          <img src="{{ userrank.image.url }}" width="200">
        {% endif %}
        <span>{{ userrank.text }}</span><br>
      </div>
    </div>
    <br>
  {% endfor %}
{% endblock %}