{% extends "groomings/base.html" %} <!-- base.html(親)の継承 -->
{% block title %}Signup{% endblock %} <!-- タイトル -->

{% block content %}
    <!-- bodyの中身 -->
    <h1 style="color: red;">Signup</h1>
    <!--
    <p>
        <label for = "mailaddress">email: </label>
        <input id = "mailaddress" type = "email" required>
    </p>
    <p>
        <label for = "username">User Name: </label>
        <input id = "username" type = "text" pattern = "^[a-zA-Z0-9]+$" required>
    </p>
    <p>
        <label for = "password">Password: </label>
        <input id = "password" type = "password" minlength ="8" pattern = "^[a-zA-Z0-9]+$" required>
    </p>
    <p>
        <label for = "re_password">Password（確認用）: </label>
        <input id = "re_password" type = "password" minlength = "8" pattern = "^[a-zA-Z0-9]+$" required>
    </p>
    <a href="{% url 'groomings:login' %}">
        <input type = "submit" value="Signup">
    </a>
-->
    <p>{{message}}</p>
    <form action="{% url 'groomings:signup' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_table }}
        <tr>
          <td></td>
          <td><input type="submit" value="登録" class="btn btn-danger"></td>
        </tr>
      </form>
{% endblock %}
