{% extends "groomings/base.html" %} <!-- base.html(親)の継承 -->
{% load tag_event %}
{% block title %}Grooming{% endblock %} <!-- タイトル -->

{% block content %}
<!-- messageの表示 -->
{% if messages %}
    {% for message in messages %}
        <div>{{ message.message }}</div>
    {% endfor %}
{% endif %}

{% if user.is_authenticated %}
  <p>ログインしてます</p>
  <p>ログインユーザー:{{ request.user.username }}</p>
{% else %}
  <p>ログインしてません</p>
{% endif %}
<h2>url一覧</h2>
<ul>
  <li><a href="{% url 'groomings:login' %}">ログイン</a></li>
  <li><a href="{% url 'groomings:signup' %}">新規登録</a></li>
  <li><a href="{% url 'groomings:user' 1 %}">id1のユーザーページ</a></li>
  <li><a href="{% url 'groomings:user_favo' 1 %}">ユーザid1のファボページ</a></li>
  <li><a href="{% url 'groomings:edit_user' %}">ユーザid1のユーザー編集(ログインユーザ以外エラー)</a></li>
  <li><a href="{% url 'groomings:create_post' %}">投稿</a></li>
  <li><a href="{% url 'groomings:ranking' %}">ランキング</a></li>
  <li><a href="{% url 'groomings:post_detail' 1 %}">投稿id1の投稿詳細ページ</a></li>
  <li><a href="{% url 'groomings:question_detail' 1 %}">匿名質問id1の匿名質問詳細ページ(質問関係者以外はtopにリダイレクト)</a></li>
  <li><a href="{% url 'groomings:change_password' %}">パスワード変更(ログインユーザー以外はエラー)</a></li>
</ul>
  <!-- bodyの中身 -->
  <h1>Grooming</h1>
  <p class= "alert alert-success">男性の身だしなみを評価するアプリです。</p>
  {% for post in posts %}
    <div class="post card">
      <div class="card-header">
        {{ post.title }}
        <small>{{ post.user.username }}</small>
      </div>
      <div class="body">
        <p class="small">{{ post.created_at }} | カテゴリー：{{ post.category }}</p>
        {% if post.image %}
          <img src="{{ post.image.url }}" width="200">
        {% endif %}
        <span>{{ post.text }}</span><br>
        <button class="btn btn-primary">お気に入り<span class="badge badge-light">{{ post | count_favo }}</span></button>
      </div>
    </div>
    <br>
  {% endfor %}
{% endblock %}