{% extends "groomings/_user.html" %} <!-- _user.html(親)の継承 -->
{% load tag_event %}

{% block posts %}
    <!-- postsの中身 -->
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="{% url 'groomings:user' page_owner.id %}" class="nav-link">自分の投稿<span class="badge badge-info">{{ posts_count }}</span></a></li>
        <li class="nav-item"><a href="{% url 'groomings:followee' page_owner.id %}" class="nav-link">フォロー</a></li>
        <li class="nav-item"><a href="{% url 'groomings:follower' page_owner.id %}" class="nav-link">フォロワー</a></li>
        <li class="nav-item"><a href="{% url 'groomings:user_favo' page_owner.id %}" class="nav-link active">お気に入り<span class="badge badge-info">{{ favo_count }}</span></a></li>
      </ul>
    {% for favo_post in favo_posts %}
      <div class="post card">
        <div class="card-header">
          {{ favo_post.title }}
          <small>{{ favo_post.user.username }}</small>
        </div>
        <div class="body">
          <p class="small">{{ favo_post.created_at }} | カテゴリー：{{ post.category }}</p>
          {% if favo_post.image %}
            <img src="{{ post.image.url }}">
          {% endif %}
          <span>{{ favo_post.text }}</span><br>
          <button class="btn btn-primary">お気に入り<span class="badge badge-light">{{ favo_post | count_favo }}</span></button>
        </div>
      </div>
    {% endfor %}
{% endblock %}