html, body{
    font-family: 'Roboto Slab', serif;
}


.dropdown-menu .visited{
    color: gray;
}
.bg-danger, .bg-info{
    color: white;
}
.number{
    color: red;
    font-size: larger;
}
.secret_number{
    color: blue;
}